*{
    margin: 0;
    padding: 0;
}
.section-1{
    background-image: url("project_pictures/section-1/bg1.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 540px) {
    #navbar{
        align-items: center;
    }
}
@media screen and (min-width:541px){
    #navbar{
        padding-left: 10px;
    }
}
@media screen and (max-width: 540px) {
    .button2{
        justify-self: center;
    }
}
@media screen and (max-width: 500px) {
    #logo-image{
        width: 190px;
    }
}