*{
    margin: 0;
    padding: 0;
}
.section-1{
    background-image: url("project_pictures/section-1/bg1.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width:450px) {
    #navbar{
        align-items: center;
    }
}
@media screen and (min-width:425px) {
    #navbar{
        align-items: start;
    }
}
