*{
    margin: 0;
    padding: 0;
}
.section-1{
    background-image: url("project_pictures/section-1/bg1.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
    #navbar{
        align-items: center;
    }
}
@media screen and (min-width:541px){
    #navbar{
        padding-left: 10px;
    }
}
@media screen and (max-width: 768px) {
    .button2{
        justify-self: center;
    }
}
@media screen and (max-width: 500px) {
    #logo-image{
        width: 190px;
    }
}
@media screen and (max-width: 425px){
    #section-1-content{
        padding: 0px;
    }
}
@media screen and (min-width: 426px){
    #section-1-content{
        padding: 48px;
    }
}
@media screen and (min-width: 768px){
    #section-2-content{
        display: flex;
    }
}
@media screen and (min-width: 768px) {
    #section-2-content-1{
        align-self: center;
    }    
}
@media screen and (min-width: 768px) {
    #section-2-content-2{
        align-self: center;
    }    
}
@media screen and (min-width: 425px){
    #section-2-content-5{
        display:flex;
    }
}
@media screen and (min-width: 300px){
    #section-2-sub-content-1{
        height: fit-content;
    }
}
@media screen and (max-width: 425px){
    #section-2-sub-content-1{
        width: fit-content;
        justify-self: center;
    }
}
@media screen and (min-width:768px){
    #section-3{
        display: flex;
    } 
}